<?xml version="1.0" encoding="utf-8"?>
<webSecurityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.4.8124.0">
	<httpSecurityHeaders>
		<responseHeaders>
			<add name="Content-Security-Policy" config:flags="1">
				<directives>
					<add name="script-src" config:flags="1">
						<values>
							<remove value="'self'" />
						</values>
					</add>
					<add name="style-src" config:flags="1">
						<values>
							<remove value="'self'" />
						</values>
					</add>
					<add name="img-src" config:flags="1">
						<values>
							<remove value="'self'" />
						</values>
					</add>
					<add name="frame-src" config:flags="1">
						<values>
							<remove value="'self'" />
						</values>
					</add>
					<add name="connect-src" config:flags="1">
						<values>
							<remove value="'self'" />
						</values>
					</add>
					<add name="child-src" config:flags="1">
						<values>
							<remove value="'self'" />
						</values>
					</add>
				</directives>
			</add>
			<add disabled="True" name="Cross-Origin-Embedder-Policy" config:flags="1" />
			<add disabled="True" name="Cross-Origin-Opener-Policy" config:flags="1" />
			<add disabled="True" name="Cross-Origin-Resource-Policy" config:flags="1" />
			<add disabled="True" name="Permissions-Policy" config:flags="1" />
		</responseHeaders>
	</httpSecurityHeaders>
</webSecurityConfig>